@model IEnumerable<Ticket>

<h2>Tickets</h2>

<div style="display: block">
    <a href="/Ticket/InsertTicket/">Create A New Ticket</a>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Assigned To</th>
            <th>Project</th>
            <th>Status</th>
        </tr>
    </thead>

    

    @foreach (var ticket in Model)
    {
        <tr>
            <td><a href=/Ticket/ViewTicket/@ticket.TicketId>@ticket.TicketId</a></td>
            <td>@ticket.Title</td>
            <td>@ticket.Description</td>
            <td>@ticket.Priority</td>
            <td>@ticket.UserId </td>
            <td>@ticket.ProjectId</td>
            <td>@ticket.Stage</td>
        </tr>
    }
</table>

