@model Ticket

<h2>Update Ticket: "@Model.Title"</h2>

@using (Html.BeginForm("UpdateTicketToDatabase", "Ticket", "Post"))
{
    <input asp-for="TicketId" type="hidden" value="@Model.TicketId" />

    <label asp-for="Title" class="control-label">Title</label>

    <input type="text" name="Title" class="form-control" value="@Model.Title" />

    <label asp-for="Description" class="control-label">Description</label>

    <input type="text" name="Description" class="form-control" value="@Model.Description" />

    <label asp-for="Priority" class="control-label">Priority</label>

    <input type="text" name="Priority" class="form-control" value="@Model.Priority" />

    <label asp-for="UserId" class="control-label">Assigned To</label>

    <input type="text" name="UserId" class="form-control" value="@Model.UserId" />

    <label asp-for="ProjectId" class="control-label">Project</label>

    <input type="text" name="ProjectId" class="form-control" value="@Model.ProjectId" />

    <label asp-for="Stage" class="control-label">Status</label>
    
    <input type="text" name="Stage" class="form-control" value="@Model.Stage" />

    <label asp-for="File" class="control-label">Attachments</label>

    <input type="text" name="File" class="form-control" value="@Model.File" />

    <input type="submit" value="Update Ticket" class="btn btn-primary" />
}
