@model Ticket

<h2>Update Ticket: "@Model.Title"</h2>
<br />
<br />
<br />

@using (Html.BeginForm("UpdateTicketToDatabase", "Ticket", "Post"))
{
    <div class="form-group">

        <input asp-for="TicketId" type="hidden" value="@Model.TicketId" />


        <label asp-for="Title" class="control-label">Title</label>

        <input type="text" name="Title" class="form-control" value="@Model.Title">

    </div>
    <div class="form-group">


        <label asp-for="Description" class="control-label">Description</label>

        <input type="text" name="Description" class="form-control" value="@Model.Description">

    </div>
    <div class="form-group">

        <label asp-for="Priority" class="control-label">Priority</label>

        <select name="Priority" class="form-control" value="@Model.Priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Severe">Severe</option>
        </select>

    </div>
    <div class="form-group">

        <label asp-for="UserId" class="control-label">Assigned To</label>

        <input type="text" name="UserId" class="form-control" value="@Model.UserId" />

    </div>

    <div class="form-group">
        <label asp-for="ProjectId" class="control-label">Which project should this ticket belong to?</label>
        <select class="form-control" name="ProjectId" value="@Model.ProjectId">
            <option>N/A</option>
            @foreach (var project in Model.Projects)
            {
                <option value="@project.ProjectId">@project.ProjectId : @project.Title</option>
            }
        </select>
    </div>
        
    <div class="form-group">

        <label asp-for="Stage" class="control-label">Status</label>

        <select name="Stage" class="form-control" value="@Model.Stage">
                <option value="New">New</option>
                <option value="Backlogged">Backlogged</option>
                <option value="In Progress">In Progress</option>
                <option value="Closed">Closed</option>
        </select>
        
    </div>
    <div class="form-group">

        <label asp-for="File" class="control-label">Attachments</label>

        <input type="text" name="File" class="form-control" value="@Model.File" multiple>

    </div>
    <div class="form-group">

        <input type="submit" value="Update Ticket" class="btn btn-primary" />

    </div>
}
